/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
  show-icons:                 false;
	drun-display-format:        "{name}";
}

@theme "~/.config/rofi/gruvbox.rasi"
