 * {
   border: none;
   border-radius: 0px;
   font-family: "JetBrainsMono Nerd Font";
   font-size: 12px;
   min-height: 30px;
 }

 window#waybar {
   background: #1d2021;
   border-radius: 10px;
 }

 #workspaces button {
   box-shadow: none;
   text-shadow: none;
   padding: 0px;
   border-radius: 8px;
   margin-top: 4px;
   margin-bottom: 4px;
   margin-left: 0px;
   padding-left: 6px;
   padding-right: 10px;
   margin-right: 0px;
   color: #504945;
   animation: ws_normal 20s ease-in-out 1;
 }

 #workspaces button.active {
   color: #83a598;
   animation: ws_active 20s ease-in-out 1;
 }

 #workspaces button:not(.active):not(.empty):not(:hover) {
   color: #fbf1c7;
 }

 #workspaces button:hover {
   background: #504945;
   color: #fbf1c7;
   animation: ws_hover 20s ease-in-out 1;
   transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
 }

 #workspaces button.active:hover {
   color: #83a598;
 }

 #battery,
 #clock,
 #cpu,
 #memory,
 #network,
 #pulseaudio,
 #temperature,
 #workspaces,
 #custom-l_end,
 #custom-logo,
 #custom-power,
 #custom-audio-icon,
 #custom-network-icon,
 #custom-cpu-icon,
 #custom-memory-icon,
 #custom-r_end {
   color: #fbf1c7;
   background: #282828;
   opacity: 1;
   margin: 8px 0px 8px 0px;
   padding-left: 4px;
   padding-right: 4px;
 }

 #custom-cpu-icon,
 #custom-audio-icon,
 #custom-network-icon,
 #custom-memory-icon {
   font-size: 16px;
   color: #504945;
 }

 #custom-l_end {
   border-radius: 7px 0 0 7px;
 }

 #custom-r_end {
   border-radius: 0 7px 7px 0;
 }

 #custom-logo {
   font-size: 24px;
   padding-left: 0px;
   color: #8ec07c;
   padding-right: 7px;
 }

 #custom-power {
   font-size: 20px;
   padding-left: 3px;
   padding-right: 7px;
   color: #fb4934;
 }
