/* Hide window control buttons (minimize, maximize, close) */
.titlebar-buttonbox-container {
  display: none !important;
}

html:not([sizemode="fullscreen"]) {
	.browserStack, browser {
		clip-path: inset(0 round var(--zen-native-inner-radius));
	}
}

/* To simulate pinch to zoom with ctrl + scroll-wheel":
mousewheel.with_control.action = 5 in about:config */
