/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828FF;
    background-alt: #353535FF;
    foreground:     #EBDBB2FF;
    selected:       #458588;
    active:         #689d68;
    urgent:         #FB4934FF;
}
